.App {
	text-align: center;
}

.Container {
	padding: 1em;
	min-height: 100%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: auto;
}

.Info {
	padding-top: 0.25em;
}

.Link {
	cursor: pointer;
	padding: 0.75em;
	margin: 0.1em;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 0.25em;
}

.Link:link,
.Link:visited {
	background-color: mediumseagreen;
}

.Link:hover,
.Link:active {
	background-color: rgb(46, 134, 86);
}

.NPM:link,
.NPM:visited {
	background-color: tomato;
}

.NPM:hover,
.NPM:active {
	background-color: rgb(202, 78, 56);
}

.Contact:link,
.Contact:visited {
	color: dodgerblue;
}

.Contact:hover,
.Contact:active {
	color: mediumseagreen;
}
